.headerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	padding: 32px 32px 32px 32px;
	text-align: center;
	font-size: 64px;
	display: inline-block;
	text-decoration: underline;
}

.subheader {
	padding: 0 16px 32px 16px;
	text-align: center;
	font-size: 32px;
	display: inline-block;
}

.addDatasetButton {
	background-color: black;
	border: white;
	color: white;
	padding: 16px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	border-radius: 16px;
}

.viewDatasetsButton {
	background-color: black;
	border: white;
	color: white;
	padding: 16px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	border-radius: 16px;
}

.deleteDatasetButton {
	background-color: black;
	border: white;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 16px;
}

.deleteDatasetButton:hover {
	cursor: pointer;
}

.viewDatasetsList {
}

.viewDatasetsList:hover {
	cursor: pointer;
}

.addDatasetContainer {
	display: flex;
	flex-direction: column;
}

.addDatasetButton:hover {
	cursor: pointer;
}

.viewDatasetsButton:hover {
	cursor: pointer;
}

.addDatasetForm {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: left;
	font-size: 16px;
	padding-top: 16px;
}

input {
	margin-bottom: 12px;
}

.datasetsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.viewDatasetsContainer {
	display: flex;
	flex-direction: column;
}

.searchDatasetsContainer {
	display: flex;
	flex-direction: column;
}

.searchDatasetsButton {
	background-color: black;
	border: white;
	color: white;
	padding: 16px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	border-radius: 16px;
}

.searchDatasetsButton:hover {
	cursor: pointer;
}

.searchDatasetsForm {

}

.coursesScomparatorSearchContainer {

}

.coursesMcomparatorSearchContainer {

}

.coursesSelections {

}

.roomsScomparatorSearchContainer {

}

.roomsMcomparatorSearchContainer {

}

.roomsSelections {

}

.searchResultsContainer {
	display: flex;
	flex-direction: column;
}

.searchResultsHeader {
	background-color: black;
	border: white;
	color: white;
	padding: 16px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	border-radius: 16px;
}

.searchResultsList {

}

.coursesSearch {

}

.roomsSearch {

}
